body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

h1 {
  background: #ff5722;
  color: white;
  padding: 15px;
}

.menu button {
  padding: 10px 15px;
  margin: 8px;
  background: #ff9800;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.menu button:hover {
  background: #e68900;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 5px auto;
  width: 250px;
  padding: 8px;
  border-radius: 5px;
}

button:last-child {
  background: green;
}
